<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= name %></title>

    <!--Angular Javascript-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- build:css css/combined.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

</head>
<body>
<!-- build:js scripts/combined.js -->

<!-- vendor:js -->
<!-- endinject -->

<!-- exclude:js -->
<!-- endinject -->

<!-- custom:js -->
<!-- endinject -->


<!-- init:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<!-- endbuild -->
</body>

</html>